# General
DBIXEL_PAGE_TIMER=5000

# MQTT Connection
MQTT_URL=mqtt://localhost:1883
MQTT_CONNECTION_TIMEOUT=4000
MQTT_RECONNECT_PERIOD=1000
MQTT_USERNAME=admin
MQTT_PASSWORD=admin
MQTT_TOPIC=custom/diyabixel

# MQTT topic
#MQTT_BASE_TOPIC=kemal

# Source: Nightscout
#BG_SOURCE=nightscout
#NIGHTSCOUT_URL=https://host.nscout.de
#NIGHTSCOUT_API_SECRET=diabixel-x0ff0d8e3f320403

# Source: Dexcom
#BG_SOURCE=dexcom
#DEXCOM_USERNAME=follower@gmail.com
#DEXCOM_PASSWORD=password
#DEXCOM_SERVER=EUorUS

# Source: Freestyle Libre
#BG_SOURCE=libre
#LIBRE_USERNAME=follower@gmail.com
#LIBRE_PASSWORD=password
